    <div class="forgot-password-container">
        <h1 class="forgot-password-title">Recuperar Contraseña</h1>
        <div class="forgot-contenedor">
            <form id="forgot-form" class="forgot-form">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required />
                </div>
                <div class="form-group">
                    <label for="newPassword">Nueva Contraseña:</label>
                    <input type="password" id="newPassword" name="newPassword" required />
                </div>
                <div class="form-group">
                    <label for="newTwoPassword">Confirmar Nueva Contraseña:</label>
                    <input type="password" id="newTwoPassword" name="newTwoPassword" required />
                </div>
                <button class="carritoButton" type="submit">Enviar</button>
            </form>
        </div>
    </div>
    <script src="js/forgot.js"></script>

