<div class="reset-password-container">
        <h1>Restablecer Contraseña</h1>
        <p>Por favor, introduce tu nueva contraseña.</p>
        <form id="reset-password-form" action="/api/session/reset/{{token}}" method="POST">
            <div class="form-group">
                <label for="newPassword">Nueva Contraseña:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Confirmar Nueva Contraseña:</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
            </div>
            <input type="hidden" name="token" value="{{token}}">
            <button type="submit" class="submit-btn">Restablecer Contraseña</button>
        </form>
    </div>
    <script src="/js/reset.password.js"></script> 