<div class="signup-container">
  <div>
    <img class="banner-signup"src="https://cdn11.bigcommerce.com/s-8edsz6krbq/images/stencil/original/carousel/42/World-of-Whisky-Banner4.jpg?c=2" alt="banner" />
  </div>
  <h1 class="titulo">Crea tu cuenta</h1>
  <form id="signup-form" class="signup-form">
    
    <div class="form-group">

      <label for="first_name">Nombre:</label>
      <input class="fields" type="text" id="first_name" name="first_name" required />
    </div>
    <div class="form-group">

      <label for="last_name">Apellido:</label>
      <input class="fields" type="text" id="last_name" name="last_name" required />
    </div>
    <div class="form-group">

      <label for="age">Edad:</label>
      <input class="fields" type="number" id="age" name="age" required />
    </div>
    <div class="form-group">

      <label for="email">Email:</label>
      <input class="fields" type="email" id="email" name="email" required />
    </div>
    <div class="form-group">

      <label for="password">Contraseña:</label>
      <input class="fields" type="password" id="password" name="password" required />

    </div>
    <button id="signup" class="carritoButton" type="submit">Ingresar</button>
  </form>
</div>
<script src="js/signup.js"></script>