    :root {
    --primary-color: #007bff;
    --secondary-color: #0056b3;
    --text-color: #333;
    --border-color: #ccc;
  }

  .container-products {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }

  .title{
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .productList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }
  
  .productCard {
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    max-width: 100%;
  }

  .nombreProducto{
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
  }

  .detalleProducto{
    color: rgb(0, 0, 0);
    font-size: 16px;
  }
  
  .cardProduct__image img {
    max-width: 100%;
    height: auto;
  }
  
  .cardProduct__info {
    margin-top: 10px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid var(--border-color);
    background-color: #fff;
  }
  
  form h3 {
    margin-bottom: 10px;
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: var(--secondary-color);
  }
  
  @media (max-width: 768px) {
    .productCard {
      width: 100%;
    }
  
    form {
      margin-left: 0;
      margin-bottom: 20px;
    }
  
    form#delete {
      margin-top: 20px;
    }
  
    div.productList {
      flex-direction: column;
    }
  }

  .quantity{
    display: flex;
    justify-content: center;
  }

  .addCartButton{
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }

  .addCartButton:hover{
    background-color: #0c0c0c;
  }

  .cantidad{
    width: 100px;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: bold;

  }

  .boton_menos{
    background-color: #333;
    font-size: 15px;
    font-weight: bold;
    width: 10%;
  }

  .boton_menos:hover {
    background-color: #7b2525;
}
  
  .boton_mas{
    background-color: #333;
    font-size: 15px;
    font-weight: bold;
    width: 10%;
  }

  .boton_mas:hover {
    background-color: #19572f;
}

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .pagination{
    display: flex; 
    justify-content: center;
    gap: 25px;
    list-style: none;
  }
